
article {
  display: grid;
  grid-template-columns: auto 2fr; 
  grid-template-rows: auto 3fr;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 4px;
}

.generic-border {
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid orangered;
  padding: 5px 10px;
  margin-bottom: 20px;
  width:  100%;
  height: 100%;
}

.nav-button-container {
  list-style-type: none;
  display: inline-flex;
  border: 1px solid orangered;
  width:  100%;
  height: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.input-field {
  height: 25px; 
  padding: 5px; 
  border-color: whitesmoke;
  border-radius: 4px;
  font-size: 16px; 
}

/* .article-image {
  border: 1px solid  orange;
  width: 200px; 
  height: 200px;
  margin: 0px
} */

.article-section {
  display:block;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 38, 38);
  border: 1px solid  orange;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px; 
}

.article-header {
  justify-content: center;
  align-items: center;
  border: 1px solid  orange;
  margin: 0px
}

.article-preview-card {
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid  orange;
  padding: 10px;
  margin: 10px;
}
 
