body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.generic-border,
.article-preview-card,
.vote-container,
nav,
figure,
article,
.load-comments-container {
  border: 1px solid rgb(244, 211, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(13, 59, 102);
  background-color: rgb(250, 240, 202);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 8px
}

h3, h4, h2 {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(13, 59, 102);
  background-color: rgb(250, 240, 202);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-field {
  margin: 10px 0;
  padding: 10px;
  width: 60%;
}
.nav-button-container {
  margin-top: 2px;
}


button,
.vote-button,
.nav-button {
  color: rgb(244, 211, 94);
  background-color: rgb(13, 59, 102);
  padding: 10px 20px;
  text-decoration: none;
}

button a,
.vote-button a,
.nav-button a {
  color: rgb(244, 211, 94);
  text-decoration: none;
}


li {
  display: contents;
  color: rgb(13, 59, 102);
}

.article-section {
  border: 1px solid rgb(13, 59, 102);
  color: rgb(13, 59, 102);
  background-color: rgb(250, 240, 202);

}

input {
  background-color: rgb(244, 211, 94);
  border: 1px solid rgb(13, 59, 102);
}

.generic-article {
  margin: 5px 0;
  padding-right:20px;
  color: rgb(13, 59, 102);
  background-color: rgb(250, 240, 202);
  /* border: 1px solid rgb(13, 59, 102); */
}

figure {
  margin: 0;
  padding: 0;
}

.article-image {
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
  margin-bottom: 8px

}

.generic-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.single-comment-container {
  border: 1px solid rgb(244, 211, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(13, 59, 102);
  background-color: rgb(250, 240, 202);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 8px
}

.generic-delete-button {
  background-color: rgb(151, 42, 42);
  color: rgb(250, 240, 202);

}