
article {
  display: grid;
  grid-template-columns: auto 2fr; 
  grid-template-rows: auto 3fr;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
}


.generic-border {
  
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid orangered;
  padding: 5px 10px;
  margin: 20px;
  width:  100%;
  height: 100%;
  
}

.nav-button-container {
  border: 1px solid  orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  display: inline-flex;
  border: 1px solid orangered;
  width:  100%;
  height: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.input-field {
  height: 25px; 
  padding: 5px; 
  border-color: whitesmoke;
  border-radius: 4px;
  font-size: 16px; 
}

.article-image {
  border: 1px solid  orange;
}

.article-section {
  
  display:block;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 61, 39);
  border: 1px solid  orange;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px; 
}

.article-header {
  background-color: rgb(88, 24, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid  orange;
  margin: 0px
}

.article-preview-card {
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid  orange;
  padding: 10px;
  margin: 10px;
}


.comment-container {
  background-color: rgb(44, 61, 39);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid orangered;
  width:  100%;
  height: 100%;
}
.comment-vote-button {
  background-color:   rgb(22, 31, 20);
  margin-top: -14px;
  margin-bottom: 30px;
  display: block;
  justify-content: center;
  font-size: 14px; 
  text-align: center;
  width: 140px;
  color: rgb(19, 5, 0);
  background-color: rgb(248, 146, 12);
}

.comment-author {
  background-color:  rgb(22, 31, 20);
  text-align: center;
  font-size: 17px;
  margin: 4px;
}
.comment-body {
  background-color:  rgb(22, 31, 20);
  margin: 4px;
}

.comment-date {
  background-color: rgb(22, 31, 20);
  margin: 4px;
}


.loading-img {
  display: flex;
}

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block {
  border: 1px solid  orange;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.vote-button{
  color: whitesmoke;
  background-color:   rgb(19, 61, 6);
  border: 1px solid  orange;
  margin-bottom: 20px;
  margin-top: -14px;
}

.vote-current {
  color: whitesmoke;
}

.article-container {
  background-color:   rgb(19, 61, 6);
  border: 1px solid  orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}